[user]
	name = Himavanth
	email = himavanth.reddy19@gmail.com
[credential]
	helper = cache --timeout=3600
[alias]
	co = checkout
	cm = commit -m
	st = status
	df = diff
	lpr = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lgraph = log --graph --abbrev-commit --date=relative
    unstage = reset HEAD --
